.footer {
  border-top: 2px solid #6b6767ab;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  // margin-bottom: 100px;c
  padding: 100px 0;
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;
    .footer__logo {
      display: flex;
      align-items: center;
      max-width: 200px;
      .logo__img {
        width: 100%;
      }
    }
    .footer__nav {
      display: flex;
      align-items: center;
      .nav__list {
        display: flex;
        flex-direction: row;
        gap: 35px;
        .list__item {
          list-style-type: none;
          .list__link {
            text-decoration: none;
            color: #fff;
            font-family: $roboto;
            transition: all 0.2s ease-out;
            white-space: nowrap;
            &:hover {
              color: $color-prime;
            }
          }
        }
      }
    }
    .footer__contacts {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      .contacts__wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .contacts__link {
          display: flex;
          align-items: center;
          color: #fff;
          font-family: $roboto;
          font-size: 24px;
          line-height: 1.5;
          font-weight: 500;
          transition: all 0.2s ease-out;
          height: 30px;
          &:hover {
            color: $color-prime;
          }
          &--mail {
            font-size: 16px;
          }
        }
      }
      .icons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__link {
          width: 40px;
          height: 40px;
          .icons__img {
            width: 100%;
          }
        }
      }
    }
  }
}