.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: $background-opacity;
  z-index: 99;
  transition: all 0.2s ease-out;

  &_fixed {
    position: fixed;
    background-color: $background;
    animation: 0.5s ease header-visible;
  }

  @keyframes header-visible {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0px);
    }
  }

  // &_hidden {
  //   position: absolute;
  // }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;

    .logo {
      max-width: 80px;
      &__img {
        width: 100%;
        object-fit: contain;
      }
    }

    .nav {
      display: flex;
      justify-content: center;
      flex-grow: 2;

      .list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 35px;
        &__contacts {
          display: none;
        }
        &__item {

          .list__link {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-family: $roboto;
            transition: all 0.2s ease-out;
            white-space: nowrap;
            &:hover {
              color: $color-prime;
            }
          }
        }
      }
    }
    .contacts,
    .contacts-visible {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      margin-bottom: 0;
      width: auto;
      &__wrap {
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        gap: 10px;

        // height: 100%;
        .contacts__link {
          display: flex;
          align-items: center;
          // text-decoration: none;
          color: #fff;
          font-family: $roboto;
          font-size: 20px;
          line-height: 1.5;
          font-weight: 500;
          transition: all 0.2s ease-out;
          height: 30px;

          &:hover {
            color: $color-prime;
          }
          &--tel {
            font-size: 20px;
          }
          &--mail {
            font-size: 16px;
          }
        }
      }
      .icons {
        display: flex;
        // flex-direction: column;
        gap: 10px;
        &__link {
          width: 40px;
          height: 40px;
          .icons__img {
            width: 100%;
            filter: invert(1);
            fill:  black;
          }
        }
      }
    }
    // .burger {
    //   display: none;
    // }
  }
}