.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background-color: $background-opacity;
  z-index: 99;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;

    .logo {
      display: flex;
      align-items: center;
      min-width: 180px;
      &__img {
        width: 100%;
      }
    }

    .nav {
      display: flex;
      flex-grow: 2;

      .list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 35px;
        &__item {

          .list__link {
            text-decoration: none;
            color: #fff;
            font-family: $roboto;
            transition: all 0.2s ease-out;
            white-space: nowrap;
            &:hover {
              color: $color-prime;
            }
          }
        }
      }
    }
    .contacts,.contacts-visible {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 0;
      &__wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;

        // height: 100%;
        .contacts__link {
          display: flex;
          align-items: center;
          // text-decoration: none;
          color: #fff;
          font-family: $roboto;
          font-size: 20px;
          line-height: 1.5;
          font-weight: 500;
          transition: all 0.2s ease-out;
          height: 30px;

          &:hover {
            color: $color-prime;
          }
          &--tel {
            font-size: 20px;
          }
          &--mail {
            font-size: 16px;
          }
        }
      }
      .icons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__link {
          width: 30px;
          height: 30px;
          .icons__img {
            width: 100%;
          }
        }
      }
    }
    // .burger {
    //   display: none;
    // }
  }
}