@include laptop {
  .header {
    .wrapper {
      .contacts {
        &__wrap {
          .contacts__link {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@include tablet {
  .header {
    .wrapper {
      .nav {
        flex-grow: 0;

        .list {
          position: absolute;
          flex-direction: column;
          width: 60%;
          height: 100vh;
          top: 0;
          right: 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
          background-color: $background;
          margin: 0;
          padding: 150px 30px;
          z-index: -1;
          &__item {
            .list__link {
              font-size: 22px;
            }
          }

          &_active {
            animation-name: menu;
            animation-duration: 0.2s;
            opacity: 1;
            visibility: visible;
          }

          @keyframes menu {
            from {
              transform: translate(200px, 100px);
            }
            to {
              transform: translate(0);
            }
          }
        }
      }
      .contacts {
        flex-grow: 2;
      }
    }
  }
}

@include mobile {
  .header {
    .wrapper {
      .logo {
        // min-width: 100px;
        width: 100px;
        &__img {
          width: 100%;
        }
      }
      .nav {
        flex-grow: 0;
        flex-direction: column;
        .list {
          box-sizing: border-box;
          width: 100vw;
          align-items: center;
          &__contacts {
            display: flex;
          }
        }
      }
      justify-content: space-between;
      .contacts {
        display: none;
      }
      .contacts-visible {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .contacts__wrap {
          align-items: center;
        }
        .icons {
          flex-direction: row;
        }
      }
    }
  }
}