@include tablet {
  .production {
    .wrapper {
      // .production__title {
      // }
      .tabs {
        &__head {
          border-radius: 4px;
          flex-direction: column;
          .tabs__title {
            // display: none;
            &--active {
              // display: block;
            }
            &:first-child {
              border-radius: 4px 4px 0 0;
            }
            &:last-child {
              border-radius: 0 0 4px 4px;
            }
          }
        }
        &__body {
          .tabs__content {
            
            .wrap { 
              flex-direction: column;
              .content__logo {
                display: flex;
                justify-content: center;
                width: 100%;
                // .logo__img {
                //   width: 50%;
                // }
              }
              .conten__desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                width: 100%;
              }
            }
            .infoblocks {
              flex-wrap: wrap;
              gap: 20px;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .production {
    .wrapper {
      .production__title {
      }
      .tabs {
        &__head {
          border-radius: 4px;
          flex-direction: column;
          .tabs__title {
            font-size: 18px;
            padding: 20px;
          }
        }
      }
    }
  }
}