.request {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px 20px;
    gap: 40px;
    .title-box {
      width: 50%;
      padding-right: 50px;
      box-sizing: border-box;
      &__title {
        font-size: 46px;
        font-family: $oswald;
        line-height: 1.50;
        font-weight: 400;
      }
      &__subtitle {
        color: #ffffff;
        font-size: 18px;
        font-family: $roboto;
        line-height: 1.56;
        font-weight: 400;
        opacity: 0.8;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      gap: 60px;
      margin-top: 50px;
      width: 50%;
      box-sizing: border-box;
      &__input {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-family: $roboto;
        width: 100%;
        padding: 20px;
        // padding-left: 0;
        padding-right: 0;
        line-height: 1.33;
        border: 0;
        border-bottom: 1px solid #fff;
        background: transparent;
        box-sizing: border-box;
      }
      &__submit {
        color: #fff;
        border: 2px solid #fff;
        border-radius: 4px;
        font-family: $oswald;
        font-weight: 500;
        text-transform: uppercase;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
        padding: 20px;
        width: 250px;
        transition: all 0.4s ease-in-out;
        &:hover {
          border: 2px solid $color-prime;
          background-color: $color-prime;
        }
        &:focus {
          background-color: $color-prime;
        }
      }
    }
    .request__rules {
      // margin-top: 10px;
      font-family: $roboto;
      font-weight: 400;
      color: #fff;
      font-size: 14px;
      opacity: 0.8;
      // line-height: 1.55;
      margin: 0;
      padding: 0;
    }
  }
}