.services {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;
    .services__title {
      font-size: 46px;
      font-family: $oswald;
      line-height: 1.50;
      font-weight: 400;
    }
    .service-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 40px;
      .service {
        display: flex;
        flex-direction: column;
        padding: 25px;
        border-radius: 4px;
        background-color: $background;
        gap: 20px;
        transition: all 0.4s ease-in-out;
        &:hover {
          border-radius: 4px;
          background-color: $color-prime;
          .number-box {
            background-color: $background;
          }
        }
        .number-box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $color-prime;
          &__number {
            font-family: $oswald;
            font-weight: 400;
            font-size: 26px;
          }
        }
        &__desc {
          color: #ffffff;
          font-size: 18px;
          font-family: $roboto;
          line-height: 1.50;
          font-weight: 400;
          margin: 0;
          text-transform: uppercase;
        }
      }
    }
  }
}