.slider {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0px;
    padding: 0 20px;
    .swiper {
      width: 100%;
      &-wrapper {
        width: 100%;
        .swiper-slide {
          // display: flex;
          width: 100%;
          // padding: 0 5%;
          img {
            border-radius: 4px;
            width: 100%;
          }
        }
      }
    }
  }
}