.slider {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0;
    // padding: 0 20px;
    .swiper {
      width: 100%;
      &-wrapper {
        width: 100%;
        .swiper-slide {
          // display: flex;
          width: 100%;
          // padding: 0 5%;
          border-radius: 4px;
          background-color: $background;
          img {
            border-radius: 4px;
            width: 100%;
          }
        }
      }
      .swiper-button-prev,.swiper-button-next { 
        width: 40px;
        height: 40px;
        background-color: $color-prime;
        color: #fff;
        border-radius: 50%;

        &::after {
          font-size: 1.2em;
        }
      }
    }
  }
}

@include laptop {
  .slider {
    .wrapper {
      padding: 0 20px;
    }
  }
}