// variables

$oswald: 'Oswald', Arial,sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

$color-prime: #005bab;
$background: #22242d;
$background-opacity: rgba(34, 36, 45, 0.6);

$breackpoint-md: 840px;
$breackpoint-sm: 540px;